<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Cocktail Delight</title>
</head>
<body>
  <h1>Cocktail Delight</h1>
  <div class="card">
    <img src="<%= cocktailImg %>" alt="<%= cocktail %>">
    <div class="cocktailName">Make a <%= cocktail %></div>
  </div>
</body>
</html>